# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
/app-builds
/build
main.js
daemonHandler.js
daemonHandler

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings
package-lock.json

# e2e
/e2e

# System Files
.DS_Store
Thumbs.db

# pkg build app copy
pkg/tmp/usr/local/macOSUpdate/macOS Update.app


# ignore config
pkg/config.json