<div class="container">
	<h1 class="title">
		macOS Update
	</h1>

	<div class="update-img">
		<img width="128" src="assets/img/macOS.png" />
	</div>
	<ul>
		<li>This utility will walk you through the update proccess</li>
		<li>If you run into any issues with this please contact the Help Desk 1-800-HELP-ME</li>
		<li>The update will take around
			<strong>30-45 mintues</strong> to complete
		</li>
	</ul>
	<a class="btn btn-success btn-block" [routerLink]="['/beginUpdate']">Start Update</a>

</div>